---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "AB test calculator",
    description:
      "We promise to always give you comprehensible and clear actions. No more 'maybes', it gives a clear yes, no or a date to check back.",
    icon: "bx:bx-outline",
    link: "https://www.abtest.tools/calc",
  },
  {
    title: "[Soon] How much traffic do I need to test?",
    description:
      "Decide during your planning sessions what tests are worth running at all. Similar but better than the sample size calculators.",
    icon: "bx:bx-volume-full",
    link: "#"
  },
  {
    title: "[Soon] Should I be worried about this KPI?",
    description:
      "A KPI drops, your company panics, but it turns out to be noise. This tool will help you decide, upfront and in minutes, if it's time to panic or wait.",
    icon: "bx:bx-alarm-exclamation",
    link: "#"
  }
];
---

<div class="mt-0 md:mt-0">
  <!--<h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Everything you need to start a website
  </h2>*/-->
</div>

<div class="grid grid-cols-2 mt-16 gap-16">
  {
    features.map((item) => (
      <a href="link">
        <div class="flex gap-4 items-start">
          <div class="mt4-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
            <Icon class="text-white" name={item.icon} />
          </div>
          <div>
            <h3 class="font-serif font-semibold text-lg">{item.title}</h3>{" "}
            <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
          </div>
        </div>
      </a>
    ))
  }
</div>
