---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main
  class="pt-8 mb-8 md:pt-16 md:pb-12 pr-8 max-w-4xl">
  <!--
  <div class="py-6 lg:order-1 hidden lg:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>-->
  
  <div>
    <h1
      class="pt-4 pb-4 font-serif text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Stop being confused about AB tests <br>& run twice as many
    </h1>
    <p class="text-med mt-4 text-slate-500 max-w-xl">
      AB testing is confusing, uncertain and hard to explain. It is also the scientific edge of product and marketing work and should be accessible to everyone. 
    </p>
    <p class="text-med mt-4 text-slate-500 max-w-xl">
      The confusion with AB tests largely comes from the jargon and the calculators. They're either aimed at amateurs or academic data scientists.
      We need powerful tools for the rest of us. Understandable, explorable, action orientated and shareable.
    </p>
    <p class="text-med mt-4 text-slate-500 max-w-xl">
      I'm building a suite of free tools to achieve this.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="https://app.abtest.tools/calculator"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bx-outline" />
         Use the AB test calculator
         <box-icon type='solid' name='objects-horizontal-left'></box-icon>
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://calendar.app.google/fB2audVQrVef3xva7"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-4 h-4" name="bx:bx-coffee" />
         Chat to me
      </Link>
    </div>
  </div>
</main>
